body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
body
{
  background-image: url('download.jfif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} 
h1 {color: white}